html{
	overflow: hidden;
}
body{
	background: transparent;
}
.landlord{
	zoom: 20%;
	margin-left: -100px;
}
.live2d_azurlane_aidang_2{
	margin-top: -180px;
}

.live2d_azurlane_beierfasite_2{
	margin-top: -280px;
    margin-left: -210px;
}

.live2d_azurlane_dujiaoshou_4{
	margin-top: -600px;
    margin-left: -180px;
}

.live2d_azurlane_shengluyisi_2{
	margin-top: -300px;
}

.live2d_azurlane_huonululu_3{
	margin-top: -600px;
    margin-left: -260px;
    zoom: 24%;
}

.live2d_azurlane_shengluyisi_3{
	zoom: 25%;
    margin-left: -300px;
    margin-top: -435px;
}

.live2d_azurlane_tierbici_2{
	margin-top: -460px;
    margin-left: -260px;
}


.live2d_azurlane_xianghe_2{
	zoom: 25%;
    margin-left: -230px;
    margin-top: -760px;
}


.live2d_azurlane_xixuegui_4{
	margin-top: -400px;
    zoom: 23%;
}

